In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [6]:
df=pd.read_csv('Salary_Survey.csv')

In [8]:
# EDA process
df.head

<bound method NDFrame.head of                 Timestamp How old are you?  What industry do you work in?  \
0      4/27/2021 11:02:10            25-34   Education (Higher Education)
1      4/27/2021 11:02:22            25-34              Computing or Tech
2      4/27/2021 11:02:38            25-34  Accounting, Banking & Finance
3      4/27/2021 11:02:41            25-34                     Nonprofits
4      4/27/2021 11:02:42            25-34  Accounting, Banking & Finance
...                   ...              ...                            ...
28173                 NaN              NaN                            NaN
28174                 NaN              NaN                            NaN
28175                 NaN              NaN                            NaN
28176                 NaN              NaN                            NaN
28177                 NaN              NaN                            NaN

                                      Job title  \
0            Research and Instruction Librarian
1      Change & Internal Communications Manager
2                          Marketing Specialist
3                               Program Manager
4                            Accounting Manager
...                                         ...
28173                                       NaN
28174                                       NaN
28175                                       NaN
28176                                       NaN
28177                                       NaN

      If your job title needs additional context, please clarify here:  \
0                                                    NaN
1                                                    NaN
2                                                    NaN
3                                                    NaN
4                                                    NaN
...                                                  ...
28173                                                NaN
28174                                                NaN
28175                                                NaN
28176                                                NaN
28177                                                NaN

      What is your annual salary? (You'll indicate the currency in a later question. If you are part-time or hourly, please enter an annualized equivalent -- what you would earn if you worked the job 40 hours a week, 52 weeks a year.)  \
0                                                 55,000
1                                                 54,600
2                                                 34,000
3                                                 62,000
4                                                 60,000
...                                                  ...
28173                                                NaN
28174                                                NaN
28175                                                NaN
28176                                                NaN
28177                                                NaN

       How much additional monetary compensation do you get, if any (for example, bonuses or overtime in an average year)? Please only include monetary compensation here, not the value of benefits.  \
0                                                    0.0
1                                                 4000.0
2                                                    NaN
3                                                 3000.0
4                                                 7000.0
...                                                  ...
28173                                                NaN
28174                                                NaN
28175                                                NaN
28176                                                NaN
28177                                                NaN

      Please indicate the currency  \
0                              USD
1                              GBP
2                              USD
3                              USD
4                              USD
...                            ...
28173                          NaN
28174                          NaN
28175                          NaN
28176                          NaN
28177                          NaN

      If "Other," please indicate the currency here:   \
0                                                 NaN
1                                                 NaN
2                                                 NaN
3                                                 NaN
4                                                 NaN
...                                               ...
28173                                             NaN
28174                                             NaN
28175                                             NaN
28176                                             NaN
28177                                             NaN

      If your income needs additional context, please provide it here:  ...  \
0                                                    NaN                ...
1                                                    NaN                ...
2                                                    NaN                ...
3                                                    NaN                ...
4                                                    NaN                ...
...                                                  ...                ...
28173                                                NaN                ...
28174                                                NaN                ...
28175                                                NaN                ...
28176                                                NaN                ...
28177                                                NaN                ...

      How many years of professional work experience do you have overall?  \
0                                              5-7 years
1                                           8 - 10 years
2                                            2 - 4 years
3                                           8 - 10 years
4                                           8 - 10 years
...                                                  ...
28173                                                NaN
28174                                                NaN
28175                                                NaN
28176                                                NaN
28177                                                NaN

      How many years of professional work experience do you have in your field?  \
0                                              5-7 years
1                                              5-7 years
2                                            2 - 4 years
3                                              5-7 years
4                                              5-7 years
...                                                  ...
28173                                                NaN
28174                                                NaN
28175                                                NaN
28176                                                NaN
28177                                                NaN

      What is your highest level of education completed? What is your gender?  \
0                                        Master's degree                Woman
1                                         College degree           Non-binary
2                                         College degree                Woman
3                                         College degree                Woman
4                                         College degree                Woman
...                                                  ...                  ...
28173                                                NaN                  NaN
28174                                                NaN                  NaN
28175                                                NaN                  NaN
28176                                                NaN                  NaN
28177                                                NaN                  NaN

      Unnamed: 17 Unnamed: 18 Unnamed: 19  Unnamed: 20  Unnamed: 21  \
0             NaN         NaN         NaN          NaN          NaN
1             NaN         NaN         NaN          NaN          NaN
2             NaN         NaN         NaN          NaN          NaN
3             NaN         NaN         NaN          NaN          NaN
4             NaN         NaN         NaN          NaN          NaN
...           ...         ...         ...          ...          ...
28173         NaN         NaN         NaN          NaN          NaN
28174         NaN         NaN         NaN          NaN          NaN
28175         NaN         NaN         NaN          NaN          NaN
28176         NaN         NaN         NaN          NaN          NaN
28177         NaN         NaN         NaN          NaN          NaN

       Unnamed: 22
0              NaN
1              NaN
2              NaN
3              NaN
4              NaN
...            ...
28173          NaN
28174          NaN
28175          NaN
28176          NaN
28177          NaN

[28178 rows x 23 columns]>