In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [6]:
df=pd.read_csv('Salary_Survey.csv')

In [12]:
# EDA process
df.head()

,Timestamp,How old are you?,What industry do you work in?,Job title,"If your job title needs additional context, please clarify here:","What is your annual salary? (You'll indicate the currency in a later question. If you are part-time or hourly, please enter an annualized equivalent -- what you would earn if you worked the job 40 hours a week, 52 weeks a year.)","How much additional monetary compensation do you get, if any (for example, bonuses or overtime in an average year)? Please only include monetary compensation here, not the value of benefits.",Please indicate the currency,"If ""Other,"" please indicate the currency here:","If your income needs additional context, please provide it here:",...,How many years of professional work experience do you have overall?,How many years of professional work experience do you have in your field?,What is your highest level of education completed?,What is your gender?,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22
0,4/27/2021 11:02:10,25-34,Education (Higher Education),Research and Instruction Librarian,NaN,"55,000",0.0,USD,NaN,NaN,...,5-7 years,5-7 years,Master's degree,Woman,NaN,NaN,NaN,NaN,NaN,NaN
1,4/27/2021 11:02:22,25-34,Computing or Tech,Change & Internal Communications Manager,NaN,"54,600",4000.0,GBP,NaN,NaN,...,8 - 10 years,5-7 years,College degree,Non-binary,NaN,NaN,NaN,NaN,NaN,NaN
2,4/27/2021 11:02:38,25-34,"Accounting, Banking & Finance",Marketing Specialist,NaN,"34,000",NaN,USD,NaN,NaN,...,2 - 4 years,2 - 4 years,College degree,Woman,NaN,NaN,NaN,NaN,NaN,NaN
3,4/27/2021 11:02:41,25-34,Nonprofits,Program Manager,NaN,"62,000",3000.0,USD,NaN,NaN,...,8 - 10 years,5-7 years,College degree,Woman,NaN,NaN,NaN,NaN,NaN,NaN
4,4/27/2021 11:02:42,25-34,"Accounting, Banking & Finance",Accounting Manager,NaN,"60,000",7000.0,USD,NaN,NaN,...,8 - 10 years,5-7 years,College degree,Woman,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28178 entries, 0 to 28177
Data columns (total 23 columns):
 #   Column                                                                                                                                                                                                                                Non-Null Count  Dtype
---  ------                                                                                                                                                                                                                                --------------  -----
 0   Timestamp                                                                                                                                                                                                                             28085 non-null  object
 1   How old are you?                                                                                                                                                                                                                      28085 non-null  object
 2   What industry do you work in?                                                                                                                                                                                                         28011 non-null  object
 3   Job title                                                                                                                                                                                                                             28084 non-null  object
 4   If your job title needs additional context, please clarify here:                                                                                                                                                                      7267 non-null   object
 5   What is your annual salary? (You'll indicate the currency in a later question. If you are part-time or hourly, please enter an annualized equivalent -- what you would earn if you worked the job 40 hours a week, 52 weeks a year.)  28085 non-null  object
 6   How much additional monetary compensation do you get, if any (for example, bonuses or overtime in an average year)? Please only include monetary compensation here, not the value of benefits.                                        20780 non-null  float64
 7   Please indicate the currency                                                                                                                                                                                                          28085 non-null  object
 8   If "Other," please indicate the currency here:                                                                                                                                                                                        207 non-null    object
 9   If your income needs additional context, please provide it here:                                                                                                                                                                      3044 non-null   object
 10  What country do you work in?                                                                                                                                                                                                          28085 non-null  object
 11  If you're in the U.S., what state do you work in?                                                                                                                                                                                     23059 non-null  object
 12  What city do you work in?                                                                                                                                                                                                             28003 non-null  object
 13  How many years of professional work experience do you have overall?                                                                                                                                                                   28085 non-null  object
 14  How many years of professional work experience do you have in your field?                                                                                                                                                             28085 non-null  object
 15  What is your highest level of education completed?                                                                                                                                                                                    27863 non-null  object
 16  What is your gender?                                                                                                                                                                                                                  27914 non-null  object
 17  Unnamed: 17                                                                                                                                                                                                                           0 non-null      float64
 18  Unnamed: 18                                                                                                                                                                                                                           0 non-null      float64
 19  Unnamed: 19                                                                                                                                                                                                                           0 non-null      float64
 20  Unnamed: 20                                                                                                                                                                                                                           0 non-null      float64
 21  Unnamed: 21                                                                                                                                                                                                                           0 non-null      float64
 22  Unnamed: 22                                                                                                                                                                                                                           0 non-null      float64
dtypes: float64(7), object(16)
memory usage: 4.9+ MB