In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv('Salary_Survey.csv')

EDA process

In [4]:
df.head()

,Timestamp,How old are you?,What industry do you work in?,Job title,"If your job title needs additional context, please clarify here:","What is your annual salary? (You'll indicate the currency in a later question. If you are part-time or hourly, please enter an annualized equivalent -- what you would earn if you worked the job 40 hours a week, 52 weeks a year.)","How much additional monetary compensation do you get, if any (for example, bonuses or overtime in an average year)? Please only include monetary compensation here, not the value of benefits.",Please indicate the currency,"If ""Other,"" please indicate the currency here:","If your income needs additional context, please provide it here:",...,How many years of professional work experience do you have overall?,How many years of professional work experience do you have in your field?,What is your highest level of education completed?,What is your gender?,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22
0,4/27/2021 11:02:10,25-34,Education (Higher Education),Research and Instruction Librarian,NaN,"55,000",0.0,USD,NaN,NaN,...,5-7 years,5-7 years,Master's degree,Woman,NaN,NaN,NaN,NaN,NaN,NaN
1,4/27/2021 11:02:22,25-34,Computing or Tech,Change & Internal Communications Manager,NaN,"54,600",4000.0,GBP,NaN,NaN,...,8 - 10 years,5-7 years,College degree,Non-binary,NaN,NaN,NaN,NaN,NaN,NaN
2,4/27/2021 11:02:38,25-34,"Accounting, Banking & Finance",Marketing Specialist,NaN,"34,000",NaN,USD,NaN,NaN,...,2 - 4 years,2 - 4 years,College degree,Woman,NaN,NaN,NaN,NaN,NaN,NaN
3,4/27/2021 11:02:41,25-34,Nonprofits,Program Manager,NaN,"62,000",3000.0,USD,NaN,NaN,...,8 - 10 years,5-7 years,College degree,Woman,NaN,NaN,NaN,NaN,NaN,NaN
4,4/27/2021 11:02:42,25-34,"Accounting, Banking & Finance",Accounting Manager,NaN,"60,000",7000.0,USD,NaN,NaN,...,8 - 10 years,5-7 years,College degree,Woman,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# Dropping the variables with no values
df=df.drop(columns=['Timestamp', 'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22'])

In [6]:
# Simplifying observation names
df.columns = ['Age','Industry','Job_title','Additional_job_details','Annual_salary','Monetary_compensation','Currency','Other_Currency','Additional_income_details','Country_of_work','U.S._state_of_work','City_of_work','Years_of_experience','Years_of_experience_in_your_field','Level_of_education','Gender']

In [7]:
df.head()

,Age,Industry,Job_title,Additional_job_details,Annual_salary,Monetary_compensation,Currency,Other_Currency,Additional_income_details,Country_of_work,U.S._state_of_work,City_of_work,Years_of_experience,Years_of_experience_in_your_field,Level_of_education,Gender
0,25-34,Education (Higher Education),Research and Instruction Librarian,NaN,"55,000",0.0,USD,NaN,NaN,United States,Massachusetts,Boston,5-7 years,5-7 years,Master's degree,Woman
1,25-34,Computing or Tech,Change & Internal Communications Manager,NaN,"54,600",4000.0,GBP,NaN,NaN,United Kingdom,NaN,Cambridge,8 - 10 years,5-7 years,College degree,Non-binary
2,25-34,"Accounting, Banking & Finance",Marketing Specialist,NaN,"34,000",NaN,USD,NaN,NaN,US,Tennessee,Chattanooga,2 - 4 years,2 - 4 years,College degree,Woman
3,25-34,Nonprofits,Program Manager,NaN,"62,000",3000.0,USD,NaN,NaN,USA,Wisconsin,Milwaukee,8 - 10 years,5-7 years,College degree,Woman
4,25-34,"Accounting, Banking & Finance",Accounting Manager,NaN,"60,000",7000.0,USD,NaN,NaN,US,South Carolina,Greenville,8 - 10 years,5-7 years,College degree,Woman

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28178 entries, 0 to 28177
Data columns (total 16 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Age                                28085 non-null  object
 1   Industry                           28011 non-null  object
 2   Job_title                          28084 non-null  object
 3   Additional_job_details             7267 non-null   object
 4   Annual_salary                      28085 non-null  object
 5   Monetary_compensation              20780 non-null  float64
 6   Currency                           28085 non-null  object
 7   Other_Currency                     207 non-null    object
 8   Additional_income_details          3044 non-null   object
 9   Country_of_work                    28085 non-null  object
 10  U.S._state_of_work                 23059 non-null  object
 11  City_of_work                       28003 non-null  object
 12  Years_of_experience                28085 non-null  object
 13  Years_of_experience_in_your_field  28085 non-null  object
 14  Level_of_education                 27863 non-null  object
 15  Gender                             27914 non-null  object
dtypes: float64(1), object(15)
memory usage: 3.4+ MB

In [9]:
# Dropping observations with no relevant data
reduced_df = df.drop(columns=['Additional_job_details', 'Monetary_compensation', 'Other_Currency', 'Additional_income_details', 'U.S._state_of_work', 'City_of_work'])

In [10]:
# Count of the missing values
reduced_df.isnull().sum()

Age                                   93
Industry                             167
Job_title                             94
Annual_salary                         93
Currency                              93
Country_of_work                       93
Years_of_experience                   93
Years_of_experience_in_your_field     93
Level_of_education                   315
Gender                               264
dtype: int64

In [11]:
# Checking data types
reduced_df.dtypes

Age                                  object
Industry                             object
Job_title                            object
Annual_salary                        object
Currency                             object
Country_of_work                      object
Years_of_experience                  object
Years_of_experience_in_your_field    object
Level_of_education                   object
Gender                               object
dtype: object

In [12]:
# Checking for malformed values
reduced_df["Age"].unique()

array(['25-34', '45-54', '35-44', '18-24', '65 or over', '55-64',
       'under 18', nan], dtype=object)

In [13]:
reduced_df["Gender"].unique()

array(['Woman', 'Non-binary', 'Man', nan, 'Other or prefer not to answer',
       'Prefer not to answer'], dtype=object)

In [14]:
reduced_df["Industry"].unique()

array(['Education (Higher Education)', 'Computing or Tech',
       'Accounting, Banking & Finance', ..., 'Student ', 'Wine & Spirits',
       'Social networks'], dtype=object)

In [15]:
reduced_df["Job_title"].unique()

array(['Research and Instruction Librarian',
       'Change & Internal Communications Manager', 'Marketing Specialist',
       ..., 'Curriculum Writer', 'Software Engineering Co-Op',
       'Content creator'], dtype=object)

In [16]:
reduced_df["Annual_salary"].unique()

array(['55,000', '54,600', '34,000', ..., '37741', '53060', nan],
      dtype=object)

In [17]:
reduced_df["Currency"].unique()

array(['USD', 'GBP', 'CAD', 'EUR', 'AUD/NZD', 'Other', 'CHF', 'ZAR',
       'SEK', 'HKD', 'JPY', nan], dtype=object)

In [18]:
reduced_df["Country_of_work"].unique()

array(['United States', 'United Kingdom', 'US', 'USA', 'Canada',
       'United Kingdom ', 'usa', 'UK', 'Scotland ', 'U.S.',
       'United States ', 'The Netherlands', 'Australia ', 'Spain', 'us',
       'Usa', 'England', 'finland', 'United States of America', 'France',
       'United states', 'Scotland', 'USA ', 'United states ', 'Germany',
       'UK ', 'united states', 'Ireland', 'India', 'Australia', 'Uk',
       'United States of America ', 'U.S. ', 'canada', 'Canada ', 'U.S>',
       'ISA', 'Argentina', 'Great Britain ', 'US ', 'United State',
       'U.S.A', 'Denmark', 'U.S.A.', 'America', 'Netherlands',
       'netherlands', 'England ', 'united states of america', 'Ireland ',
       'Switzerland', 'Netherlands ', 'Bermuda', 'Us',
       'The United States', 'United State of America', 'Germany ',
       'Malaysia', 'Mexico ', 'United Stated', 'South Africa ', 'Belgium',
       'Northern Ireland', 'u.s.', 'South Africa', 'UNITED STATES',
       'united States', 'Sweden', 'Hong Kong', 'Kuwait', 'Norway',
       'Sri lanka', 'Contracts', 'USA-- Virgin Islands', 'United Statws',
       'England/UK', 'U.S',
       "We don't get raises, we get quarterly bonuses, but they periodically asses income in the area you work, so I got a raise because a 3rd party assessment showed I was paid too little for the area we were located",
       'Unites States ', 'Usa ', 'U.S.A. ', 'England, UK.', 'Greece',
       'Japan', 'U. S. ', 'Britain ', 'United Sates', 'Japan ', 'Austria',
       'Brazil', 'Canada, Ottawa, ontario', 'Global', 'Sweden ',
       'United States of American ', 'FRANCE', 'Uniited States',
       'United Kingdom (England)',
       'Worldwide (based in US but short term trips aroudn the world)',
       'CANADA ', 'Canadw', 'Hungary', 'Luxembourg',
       'United Sates of America', 'ireland',
       'United States (I work from home and my clients are all over the US/Canada/PR',
       'Colombia', 'CANADA', 'Unted States', 'germany', 'United Statesp',
       'United Stattes', 'United Statea', 'United Kingdom.', 'Mexico',
       'New Zealand', 'Trinidad and Tobago', 'Unites States',
       'United Statees', 'United kingdom', 'Cayman Islands',
       'UNited States', 'Can',
       'I am located in Canada but I work for a company in the US',
       'United kingdom ', 'Uniyed states', 'Uniyes States',
       'United States of Americas', 'U.A.', 'Czech republic', 'Czechia',
       'Latvia', 'Finland', 'U. S.', 'Puerto Rico', 'US of A', 'Rwanda',
       'United States of america ', 'United Arab Emirates ',
       'Bangladesh ', 'Spain ', 'U.K. ', 'Romania', 'U.SA',
       'United Kindom', 'United Status', 'New Zealand ',
       'Currently finance', ' U.S.', 'Serbia', 'Philippines', 'Russia ',
       'Poland', 'UXZ', 'czech republic', 'England, UK', 'Turkey',
       'Canda', 'Puerto Rico ', 'Canada and USA', 'Catalonia',
       '$2,175.84/year is deducted for benefits', 'uk', 'France ',
       'Italy (South)', 'Jersey, Channel islands', 'Uk ', 'China',
       'Virginia', 'Afghanistan', 'Israel', 'U.s.', 'Great Britain',
       'U.s.a.', 'USS', 'Denmark ', 'Uniteed States',
       'New Zealand Aotearoa', 'U.K.', 'Hartford',
       'Japan, US Gov position', 'Csnada', 'United Stares', 'New zealand',
       'Mainland China', 'I.S.', 'UK (Northern Ireland)',
       'UK for U.S. company', ' US', 'Unites states ', 'NZ', 'Us ',
       'Hong Kong ', 'Taiwan', 'Canad', 'Unite States', 'australia',
       'The US', 'united states ', 'The Netherlands ', 'Cambodia',
       'United states of America ', 'Vietnam', 'Remote', 'Singapore',
       'South Korea', 'Czech Republic ', 'Thailand', 'Bangladesh',
       'Lithuania', 'Eritrea', 'Indonesia', 'Singapore ',
       'For the United States government, but posted overseas', 'IS',
       'Switzerland ', 'United Kingdomk', 'Italy', ' New Zealand', 'Cuba',
       'Slovenia', 'Australi', "Cote d'Ivoire", 'united kingdom',
       'From Romania, but for an US based company', 'Somalia',
       'Wales (United Kingdom)', 'England, Gb', 'Czech Republic',
       'UnitedStates', 'Sri Lanka', 'spain', 'Danmark',
       'U.K. (northern England)', 'U.K', 'NL', 'the Netherlands',
       'Nederland', 'Slovakia', 'United States of america', 'Portugal ',
       'England, United Kingdom', 'Sierra Leone', 'Englang',
       'United statew', 'UAE', 'Belgium ',
       'bonus based on meeting yearly goals set w/ my supervisor',
       'International ', 'The Bahamas ', 'Wales',
       "I earn commission on sales. If I meet quota, I'm guaranteed another 16k min. Last year i earned an additional 27k. It's not uncommon for people in my space to earn 100k+ after commission. ",
       'Costa Rica', ' United States', 'United Statues', 'Untied States',
       'USA (company is based in a US territory, I work remote)', 'Chile',
       'denmark', 'UK (England)', 'UK, remote', 'Scotland, UK', 'USAB',
       'Unitied States', 'Norway ', 'Qatar', 'United Sttes',
       'Remote (philippines)', 'Brazil ', 'Unites kingdom ',
       'South africa', 'Portugal', 'united stated',
       'United States Of America', 'Nigeria', 'PanamÃ¡',
       'Northern Ireland ', 'england', 'SWITZERLAND',
       'Austria, but I work remotely for a Dutch/British company',
       "I work for an US based company but I'm from Argentina.",
       'I was brought in on this salary to help with the EHR and very quickly was promoted to current position but compensation was not altered. ',
       'Uniter Statez', 'U. S ', 'Congo', 'United states of America',
       'Uruguay', 'Pakistan', 'Brasil', 'USA tomorrow ', 'United Stateds',
       'n/a (remote from wherever I want)', 'singapore',
       'US govt employee overseas, country withheld', 'usa ', 'Malaysia ',
       'Uganda', 'Malta', 'Saudi Arabia', 'Bulgaria', 'Estonia',
       'Morocco', 'new zealand', 'Africa', 'Ecuador', 'Zimbabwe', 'Ghana',
       'San Francisco', 'Usat', 'ðŸ‡ºðŸ‡¸ ', 'Luxemburg', 'Unitef Stated', 'UA',
       'Wales, UK', 'United Stares ', 'Croatia ',
       'England, United Kingdom ', 'United STates', 'USaa', 'uSA',
       'South Korea ', 'The netherlands', 'Ukraine ', 'america',
       'switzerland', 'United States- Puerto Rico',
       'From New Zealand but on projects across APAC', 'Y', 'United y',
       'Wales (UK)', 'Isle of Man', 'Northern Ireland, United Kingdom',
       'europe', 'California ',
       'UK, but for globally fully remote company', 'Australian ',
       'MÃ©xico', 'Jamaica', 'uS', 'USD', 'the netherlands',
       "USA, but for foreign gov't", 'japan', 'Kenya', 'Jordan',
       'United Statss', 'ARGENTINA BUT MY ORG IS IN THAILAND',
       'United states of america', 'UsA',
       'I work for a UAE-based organization, though I am personally in the US.',
       'United  States', 'france', 'Aotearoa New Zealand', 'na', 'Policy',
       'Cyprus', 'hong konh', 'United States is America', 'Liechtenstein',
       'Company in Germany. I work from Pakistan.', 'croatia', 'CanadÃ¡',
       'ENGLAND', 'United States of American', 'U.S.A ', 'INDIA',
       'Bosnia and Herzegovina', 'NIGERIA', 'Poland ', 'pakistan',
       'Nigeria ', 'London', 'ss', 'dbfemf', 'ibdia', 'LOUTRELAND',
       'philippines', 'ff', 'Myanmar', 'Burma', nan], dtype=object)

In [19]:
reduced_df["Years_of_experience"].unique()

array(['5-7 years', '8 - 10 years', '2 - 4 years', '21 - 30 years',
       '11 - 20 years', '1 year or less', '41 years or more',
       '31 - 40 years', nan], dtype=object)

In [20]:
reduced_df["Years_of_experience_in_your_field"].unique()

array(['5-7 years', '2 - 4 years', '21 - 30 years', '11 - 20 years',
       '1 year or less', '8 - 10 years', '31 - 40 years',
       '41 years or more', nan], dtype=object)

In [21]:
reduced_df["Level_of_education"].unique()

array(["Master's degree", 'College degree', 'PhD', nan, 'Some college',
       'High School', 'Professional degree (MD, JD, etc.)'], dtype=object)

In [22]:
reduced_df["Gender"].unique()

array(['Woman', 'Non-binary', 'Man', nan, 'Other or prefer not to answer',
       'Prefer not to answer'], dtype=object)